In [1]:
import pandas as pd
import datetime 
from sqlalchemy import create_engine
import numpy as np
from sqlalchemy.sql import select
from sqlalchemy.sql import text
from string import ascii_uppercase
import calendar

In [ ]:
def analise_ano_mes(ano,mes):
    engine = create_engine('mysql+pymysql://admin:example@localhost:3308/datastage') #ler isso do config e remover do codigo
    conn = engine.connect()

    s = text('select sum(total_remuneracao),:ano, :mes from stg_servidores '
                'where ano = :ano '
                 'and mes = :mes '
            )
     
    return  conn.execute(s, ano=ano,mes=mes ).fetchall()

def delete_null_from_total():
    engine = create_engine('mysql+pymysql://admin:example@localhost:3308/datastage') #ler isso do config e remover do codigo
    conn = engine.connect()
    delete = text('delete from total_gastos where total is null')        

    conn.execute(delete)

def call ():
    for x in range(2014,2020,1):
        for y in range(1,13,1):
            temp = pd.DataFrame(columns=["total", "ano", "mes"],data = analise_ano_mes(x,y))
            eng = create_engine('mysql+pymysql://admin:example@localhost:3308/datastage') #ler isso do config e remover do codigo
            temp.to_sql('total_gastos', eng, if_exists='append', index=False)
        

def analise_af(ano,mes):
    engine = create_engine('mysql+pymysql://admin:example@localhost:3308/datastage') #ler isso do config e remover do codigo
    conn = engine.connect()

    s = text('SELECT distinct Id_SERVIDOR_PORTAL,NOME,MATRICULA,SIGLA_FUNCAO,NIVEL_FUNCAO,FUNCAO '
                'FROM datastage.stg_servidores '
                'where ano = :ano '
                'and mes = :mes '
            )

    result = conn.execute(s, ano=ano,mes=mes ).fetchall()   
   
    return   pd.DataFrame(columns=["id_portal", "nome", "matricula","sigla","nivel","func"],data = result)



def  analise_fp2(mes,letter):
    engine = create_engine('mysql+pymysql://admin:example@localhost:3308/datastage') #ler isso do config e remover do codigo
    conn = engine.connect()

    s = text('SELECT NOME_DO_FILIADO, NUMERO_DA_INSCRICAO, SIGLA_DO_PARTIDO, uf '
             'FROM tb_af568 where '
             'SITUACAO_DO_REGISTRO  not like \'ERROR\' and '
             ':m1 between DATE_FORMAT(DATA_DA_FILIACAO,"%Y-%m")   and  IFNULL(DATE_FORMAT(DATA_DA_DESFILIACAO,"%Y-%m"),now())'
             'and nome like  :m2  '
             'order by nome '
             )
    result = conn.execute(s, m1=mes, m2=letter).fetchall()
    
    return  pd.DataFrame(columns=["nome", "id", "partido","uf"],data = result)

def get_servidores_by_letter(letra,x):
    x["Indexes"]= x["nome"].str.find(letra) 
    x = x.query('Indexes == 0')
    return x

In [ ]:

def analise(ano,mes):
    eng = create_engine('mysql+pymysql://admin:example@localhost:3308/datastage') #ler isso do config e remover do codigo
    
    

    
    ano = str(ano)
    mes = str(mes)
    x = analise_af(ano,mes)
    data = ano+'-'+mes
    for letra in ascii_uppercase:
        results = []
        results.append(ano)
        results.append(mes)
        results.append(letra)
        
        fp = analise_fp2(data, letra+'%')
        serv = get_servidores_by_letter(letra,x)
        
        results.append(len(serv))
        results.append(len(fp))
        
        serv['C'] = serv.groupby(['nome'])['nome'].cumcount()
        fp['C'] = fp.groupby(['nome'])['nome'].cumcount()
        
        merge = pd.merge(serv, fp, on=['nome','C'],how='right',validate="1:1")
        
        merge = merge.dropna()
        merge  = merge.drop(['Indexes'],1)

        #merge = pd.merge(serv, fp, on='nome',how='right')
        #merge = merge.dropna()
        
        merge['ano']=ano
        merge['mes']=mes
        
        results.append(len(merge))
        
        df_results = pd.DataFrame()
        df_results = df_results.append(pd.Series(results, index=['ano', 'mes', 'letra','t_servidores','t_filados','t_resultados']),ignore_index=True)
        
        merge.to_sql('resultados_numericos', eng, if_exists='append', index=False)
        merge.to_sql('resultados_02', eng, if_exists='append', index=False)
        print(letra)

In [ ]:
for ano in  range(2015, 2019,1):
    for mes in  range(1, 13,1):
        print (ano,"-",mes)
        analise(ano,mes)
        print('\n--------------------\n')

In [ ]:
letra = 'A'
ano = '2017'
mes = '01'
df000 = analise_af(ano,mes)
data = ano+'-'+mes

fp = analise_fp2(data, letra+'%')
serv = get_servidores_by_letter(letra,df000)
merge = pd.merge(serv, fp, on='nome',how='right')

In [ ]:
serv = get_servidores_by_letter(letra,df000)
serv = serv.drop('Indexes', 1)
serv

In [ ]:
a = merge.dropna()
a
eng = create_engine('mysql+pymysql://admin:example@localhost:3308/datastage') #ler isso do config e remover do codigo
a.to_sql('test_resultados', eng, if_exists='append', index=False)

In [ ]:
b = a.drop_duplicates(['id_portal','nome'], keep='first')
b['ano']=ano
b['mes']=mes
eng = create_engine('mysql+pymysql://admin:example@localhost:3308/datastage') #ler isso do config e remover do codigo
merge.to_sql('test_resultados2', eng, if_exists='append', index=False)
print(letra)

In [ ]:
xxx = serv
yyy = fp
xxx['C'] = xxx.groupby(['nome'])['nome'].cumcount()
yyy['C'] = yyy.groupby(['nome'])['nome'].cumcount()




eng = create_engine('mysql+pymysql://admin:example@localhost:3308/datastage') #ler isso do config e remover do codigo
yyy.to_sql('test_resultados2sx', eng, if_exists='append', index=False)

In [ ]:
yyy

In [ ]:

xxx = serv
yyy = fp
xxx['C'] = xxx.groupby(['nome'])['nome'].cumcount()
yyy['C'] = yyy.groupby(['nome'])['nome'].cumcount()
merge = pd.merge(xxx, yyy, on=['nome','C'],how='right',validate="1:1")
merge = merge.dropna()
merge  = merge.drop(['Indexes'],1)
#merge = merge.drop_duplicates(['id_portal','nome'], keep='first')
#merge['ano']=ano
#merge['mes']=mes
#eng = create_engine('mysql+pymysql://admin:example@localhost:3308/datastage') #ler isso do config e remover do codigo
#merge.to_sql('test_resultados155321', eng, if_exists='append', index=False)

In [ ]:

xsx

In [ ]:
df = df.append(pd.Series(x_list, index=['ano', 'mes', 'letra','t_servidores','t_filados','t_resultados']),ignore_index=True)
df

In [ ]:
calendar.monthrange(2002,1)

In [ ]:
calendar.monthrange(2018,1)

In [ ]:
def run_query(inicial,final):
    engine = create_engine('mysql+pymysql://admin:example@localhost:3308/datastage') #ler isso do config e remover do codigo
    conn = engine.connect()

    s = text('select NOME_DO_FILIADO, NUMERO_DA_INSCRICAO, SIGLA_DO_PARTIDO, uf from stg_af256 '
            'FORCE INDEX (data_filiacao, data_descf) '
            'where  SITUACAO_DO_REGISTRO  <> \'ERROR\' AND '
            'DATA_DA_FILIACAO between \'1900-01-01\' and :final and '
            'DATA_DA_DESFILIACAO  between :inicial and :final '
            'UNION '
            'select NOME_DO_FILIADO, NUMERO_DA_INSCRICAO, SIGLA_DO_PARTIDO, uf '
            'from stg_af256 '
            'where  DATA_DA_DESFILIACAO is null '
            'and SITUACAO_DO_REGISTRO  = \'REGULAR\' '
            'and DATA_DA_FILIACAO between \'1900-01-01\' and :final '

             )
    result = conn.execute(s, inicial=inicial, final=final).fetchall()

    return  pd.DataFrame(columns=["nome", "id", "partido","uf"],data = result)

In [ ]:

def analise2(result_ff,result_cc,ano,mes):
    results = []
    eng = create_engine('mysql+pymysql://admin:example@localhost:3308/datastage') #ler isso do config e remover do codigo
  #  ano = str(ano)
   # mes = str(mes)
    
    results.append(ano)
    results.append(mes)
    
    results.append(len(result_cc))
    results.append(len(result_ff))

    result_cc['C'] = result_cc.groupby(['nome'])['nome'].cumcount()
    result_ff['C'] = result_ff.groupby(['nome'])['nome'].cumcount()
    
    print(result_cc)
    
    print(result_ff)
    merge = pd.merge(result_cc, result_ff, on=['nome','C'],how='right',validate="1:1")
    print(merge)
    merge = merge.dropna()
    # merge  = merge.drop(['Indexes'],1)
    print(merge)

    merge['ano']=ano
    merge['mes']=mes

    results.append(len(merge))

    df_results = pd.DataFrame()
    df_results = df_results.append(pd.Series(results, index=['ano', 'mes', 't_servidores','t_filados','t_resultados']),ignore_index=True)
    
    df_results.to_sql('resultados_numericos_05', eng, if_exists='append', index=False)
    merge.to_sql('resultados_05', eng, if_exists='append', index=False)
    print(str(ano)+"_"+str(mes))

In [ ]:
def my_iteration():
    for ano in  range(2015, 2019,1):
        for mes in  range(1, 13,1):
            tuple_days = calendar.monthrange(ano,mes)
            partial_date = str(ano) + '-' + str(mes) +'-'
            initial_date = partial_date + str(1)
            final_date = partial_date + str( tuple_days[1])
            
            result_ff = run_query(initial_date,final_date)
            result_cc = analise_af(ano,mes)
            analise2(result_ff,result_cc,ano,mes)
            
my_iteration()

In [ ]:
ano = 2017
mes = 12
tuple_days = calendar.monthrange(ano,mes)
partial_date = str(ano) + '-' + str(mes) +'-'
initial_date = partial_date + str(1)
final_date = partial_date + str( tuple_days[1])
result_ff = run_query(initial_date,final_date)
result_cc = analise_af(ano,mes)



analise2(result_ff,result_cc,ano,mes)
print(4)

In [ ]:



def run_query(inicial,final,limit):
    engine = create_engine('mysql+pymysql://admin:example@localhost:3308/datastage') #ler isso do config e remover do codigo
    conn = engine.connect()

    s = text('select NOME_DO_FILIADO, NUMERO_DA_INSCRICAO, SIGLA_DO_PARTIDO, uf, DATA_DA_FILIACAO, DATA_DA_DESFILIACAO,SITUACAO_DO_REGISTRO from stg_af256 '
           

                'where  DATA_DA_DESFILIACAO is null '
                'and SITUACAO_DO_REGISTRO = \'REGULAR\' '
                'LIMIT 100000 OFFSET :limit'

             )
    result = conn.execute(s, inicial=inicial, final=final, limit=limit).fetchall()

    return  pd.DataFrame(columns=["nome", "id", "partido","uf","DATA_DA_FILIACAO","DATA_DA_DESFILIACAO","SITUACAO"],data = result)

In [ ]:
resultados_sel = pd.DataFrame(columns=["nome", "id", "partido","uf","DATA_DA_FILIACAO","DATA_DA_DESFILIACAO","SITUACAO"])
rl = []
#2000000
for x in range(0,20000000,100000):
    ano = 2017
    mes = 12
    tuple_days = calendar.monthrange(ano,mes)
    partial_date = str(ano) + '-' + str(mes) +'-'
    initial_date = partial_date + str(1)
    final_date = partial_date + str( tuple_days[1])
    result_ff = run_query(initial_date,final_date,x)
    #resultados_sel = resultados_sel.append(result_ff, ignore_index = True)
    rl.append(result_ff)
   
    print(x)

In [ ]:
engine = create_engine('mysql+pymysql://admin:example@localhost:3308/datastage') #ler isso do config e remover do codigo

ass = 10
s = text('SELECT NOME_DO_FILIADO, NUMERO_DA_INSCRICAO, SIGLA_DO_PARTIDO, uf '
         'FROM tb_af568  '
        'limit '+ str(ass)
         )

x = engine.execute(s)
for y in x:
    print(y)

#result = conn.execute(s, m1=mes, m2=letter).fetchall()

In [3]:
engine = create_engine('mysql+pymysql://admin:example@localhost:3308/datastage') #ler isso do config e remover do codigo
conn = engine.connect()

s = text('SELECT id_portal,  nome, matricula, sigla, nivel, func, Indexes, id, partido, uf, ano, mes  '
         'FROM resultados  '
        
         )
result = conn.execute(s).fetchall()

In [4]:

resultados = pd.DataFrame(columns=["id_portal","nome","matricula","sigla","nivel","func","Indexes","id","partido","uf","ano","mes"], data = result)

In [8]:
df3 = resultados

#df3 = df3.set_index('ano')
#df3 = df3.set_index('mes')
df3 = df3.set_index('sigla')

In [ ]:
group_names = df.sigla.unique()
dfg = df.groupby(['sigla'])

In [ ]:
group_names

In [ ]:
eng = create_engine('mysql+pymysql://admin:example@localhost:3308/datastage')
df3.to_sql('test_resultados_index', eng, if_exists='append')

In [6]:
#resultados