In [3]:
import pandas as pd
import datetime 
from sqlalchemy import create_engine
import numpy as np
from sqlalchemy.sql import select
from sqlalchemy.sql import text
from string import ascii_uppercase
import calendar

In [4]:
engine = create_engine('mysql+pymysql://admin:example@localhost:3308/datastage') #ler isso do config e remover do codigo
conn = engine.connect()

s = text('SELECT id_portal,  nome, matricula, sigla, nivel, func, Indexes, id, partido, uf, ano, mes  '
         'FROM resultados  '
        
         )
result = conn.execute(s).fetchall()


resultados = pd.DataFrame(columns=["id_portal","nome","matricula","sigla","nivel","func","Indexes","id","partido","uf","ano","mes"], data = result)

In [5]:
df3 = resultados
nome = df3.iloc[:,0:2]
nome = nome.drop_duplicates()
nome 
dado = df3
dado.drop(['nome','matricula','Indexes'],axis=1)

#eng = create_engine('mysql+pymysql://admin:example@localhost:3308/datastage')
#nome.to_sql('test_nome_index', eng, if_exists='append')

siglas = df3.iloc[:,3:5]
siglas =  siglas.drop_duplicates()
siglas.reset_index(level=0, inplace=True)
siglas = siglas.drop('index',axis =1 )
siglas.reset_index(level=0, inplace=True)

In [6]:
replace = df3

replace
replace=replace.drop(['nome','matricula','Indexes'],axis=1)

In [7]:
r =  pd.merge(siglas,replace,on=['sigla','nivel'])

In [8]:
r = r.drop(['sigla','nivel'],axis=1)

In [9]:
ano_mes = r
ano_mes = ano_mes.iloc[:,-2:]

In [10]:
ano_mes =  ano_mes.drop_duplicates()
ano_mes.reset_index(level=0, inplace=True)
ano_mes = ano_mes.drop('index',axis =1 )
ano_mes.reset_index(level=0, inplace=True)
ano_mes['id_ano_mes'] = ano_mes['index']
ano_mes = ano_mes.drop('index',axis =1 )

In [11]:
rr = pd.merge(r,ano_mes, on=['ano','mes'])

In [12]:
rr = rr.drop(['ano','mes'],axis =1 )

In [13]:
rr['id_funções'] = rr['index']
rr = rr.drop('index',axis =1 )

In [52]:
estados = rr[['uf']].copy()

In [53]:
estados = estados.drop_duplicates()
estados.reset_index(drop=True,inplace=True)
estados.reset_index(inplace=True)
estados['id_estado']=estados['index']
estados.drop('index',axis =1,inplace=True )

In [55]:
estados

rr

,id_portal,func,id,partido,uf,id_ano_mes,id_funções
0,5210013.0,DIRECAO E ASSESSORAMENTO SUPERIOR,3973951066,PTB,GO,0,0
1,7806401.0,DIRECAO E ASSESSORAMENTO SUPERIOR,14978581309,PMDB,PA,0,0
2,3200088.0,DIRECAO E ASSESSORAMENTO SUPERIOR,195591640108,PT,SP,0,0
3,3201794.0,DIRECAO E ASSESSORAMENTO SUPERIOR,16321761660,PHS,RN,0,0
4,3404556.0,DIRECAO E ASSESSORAMENTO SUPERIOR,39147220230,PT,MG,0,0
...,...,...,...,...,...,...,...
1080111,22745953.0,CARGO DE NATUREZA ESPECIAL,9894172097,PRP,DF,46,219
1080112,61101750.0,CARGO DE NATUREZA ESPECIAL,17759830388,PSL,RJ,46,219
1080113,62802667.0,CARGO DE NATUREZA ESPECIAL,21157631244,PSL,PB,46,220
1080114,44624757.0,CARGO DE NATUREZA ESPECIAL,1504022895,PSL,SP,46,220
1080115,8303730.0,CARGO DE NATUREZA ESPECIAL,127202080213,DEM,MG,46,220